@use '../../scss/common' as *;

@mixin input-styles {
    display: flex;
    background: transparent;
    border: 2px solid rgb(225, 225, 225,.2);
    border-radius: 4px;
    margin:15px 0;
    padding: 12px; 
    color: $default-color
  }

.input-default{
    @include input-styles;
}


.input-correct{
    @include input-styles;
    background: #09001d;
    color: #00a63d;
    border: 2px solid #00a63d;
}

.input-wrong{
    @include input-styles;
    background: #09001d;
    color: #a60045;
    border: 2px solid #a60045;
}