@use '../../scss/common/index' as *;

.quiz-layout {
    @include layout-styles  
}

.quiz-card {
    @include card-styles
}

.quiz-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1.5px solid $primary-color;

    span{
        padding: 7px;
    }

    .score{
        background-color: $primary-color;
        color: $default-color;
        border-radius: 3px;
    }
}

.quiz-question{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.btn-container{
    display:flex;
    justify-content:space-between;
    gap:20px;
}

.btn-container-inner{
    flex: 1;
    display:flex;
    justify-content:space-between;
    gap:10px;
}

.footer{
    display: flex;
    justify-content: space-between;
    gap:20px;
}